@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 48px;
    scroll-padding-top: calc(var(--header-height) + 10px);
    scroll-behavior: smooth;
  }
  html {
    font-family: "Inter", sans-serif;
    @apply bg-gray-100;
  }
}

@layer components {
  .tag {
    @apply flex items-center ring-1 rounded text-xs ring-gray-300 gap-1 px-2 py-1 bg-white dark:text-gray-400 dark:ring-gray-400 dark:bg-gray-800;
  }
}
